*.exe
*.dll
*.so
*.dylib
*.test
*.out
*.swp
*.csv
*.ipdb
*.utf8
*.zip
*.gz
*.tar
.DS_STORE
.vscode
.idea/
log/
*.html
*.log
main
go.sum
__debug_bin
bin/*
apollo_configs_*
go.work*
__debug*
xgin-xgin.yaml.json
*.properties.json
bin/
CLAUDE.local.md
translator
.claude
CLAUDE.md